<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>English Quiz</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      @media (max-width: 768px) {
        body {
          margin: 0% 5%;
        }
      }
      a.btn {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div id="quiz-container">
      <div id="question-container">
        <div id="question">Question text will appear here</div>
        <div id="answer-buttons" class="btn-container"></div>
      </div>
      <div id="navigation-buttons">
        <button id="next-btn" class="btn" style="display: none">Next</button>
        <button id="prev-btn" class="btn" style="display: none">
          Previous
        </button>
      </div>
      <a href="{{ url_for('SubjMCQs') }}" style="text-decoration: none">
        <button id="go-back" class="btn">Leave</button>
      </a>
    </div>
    <script src="{{ url_for('static', filename='MCQS_JS/eng_script.js') }}"></script>
  </body>
</html>
