<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/690f9d2a2b.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='landingpage.css') }}"
    />
  </head>

  <body>



    <nav class="navbar">
      <div class="container top-bar">
        <a href="{{ url_for('home') }}" class="logo"
          ><img
            src="{{ url_for('static', filename='pictures/logo.png') }}"
            alt="Brand Logo"
        /></a>
        <div class="auth-buttons">
          <a
            href="{{ url_for('login') }}"
            style="border-radius: 50px"
            class="btn btn-login"
            >Login</a
          >
        </div>
      </div>
      <div class="nav-list">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('login') }}">MDCAT Prep</a></li>
          <li><a href="#counselling">Counselling</a></li>
          <li><a href="#">Blogs</a></li>
        </ul>
      </div>
    </nav>


        <!--  Mock Exam Ad SECTION -->



    <div class="ad-container">
      <div class="ad-title">🔥 Register Now for Our Online Mock Test! 🔥</div>
      <div class="ad-details">🗓️ <strong>Date:</strong> Sunday, 18 August 2024<br>
        <div class="ad-details"> 🏷️ <strong>Registration Fee:</strong> 500/- PKR Only<br>
      💻 <strong>Location:</strong> Online</div>
      <div class="ad-details">Don't miss out on this opportunity! Register now by clicking the link below and secure your spot. Prepare, practice, and perform! 💪✨</div>
      <a href="https://forms.gle/9jqD8D9iWZg6ppZW6" class="ad-link">Register Now</a><br><br>
      <a href="{{ url_for('AdRules') }}">Click here for more details</a>
  </div>
</div>

    <!--  HERO SECTION -->

    <a href="{{ url_for('login') }}">
      <section class="corousel-section">
        <div class="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="{{ url_for('static', filename='pictures/a1.png') }}"
                alt="Slide 1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='pictures/a2.png') }}"
                alt="Slide 2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="{{ url_for('static', filename='pictures/a3.png') }}"
                alt="Slide 3"
              />
            </div>
          </div>
        </div>
      </section>
    </a>

    <!-- SEARCH BAR -->
    <div class="search-container">
      <div class="search-span-div">
        <span>Coding</span>
        <span>UI/UX Design</span>
        <span>ECAT Lectures</span>
        <span>MDCAT Lectures</span>
        <span>Any Other Toturials</span>
      </div>
      <div class="section-search">
        <div class="search-image-div">
          <img
            src="{{ url_for('static', filename='pictures/search.png') }}"
            alt="Mock Test"
          />
        </div>
        <div class="search-text-section">
          <h1>
            Looking for tutorials or lectures on youtube? Watch here Ad-free.
          </h1>
          <p>
            Our search section allows you to find tutorials or lectures for any
            subject, topic or course on YouTube. It displays the top 30 videos
            ensuring that the most popular tutorials appear first. Enjoy a
            distraction-free and ad-free experience, helping you stay focused
            and maximize your learning potential.
          </p>
        </div>
      </div>
      <form action="/search" method="post">
        <input
          type="text"
          name="query"
          placeholder="Enter Search Here!"
          required
        />
        <button type="submit" class="btn">Search</button>
      </form>
    </div>

    <!-- MOCK EXAM SECTION -->

    <div class="section">
      <div class="image-div">
        <img
          src="{{ url_for('static', filename='pictures/mocktest.png') }}"
          alt="Mock Test"
        />
      </div>
      <div class="text-section">
        <h1>Practice Full length MOCK TESTS Now</h1>
        <p>
          Prepare for your MDAT exam with our comprehensive full-length mock
          tests. These tests simulate the actual exam environment, helping you
          identify strengths and weaknesses, improve time management, and build
          confidence. Receive detailed feedback and explanations for each
          question to understand your mistakes and learn from them. Our mock
          tests cover all sections of the MDAT exam and are regularly updated to
          reflect the latest patterns and questions. Start practicing now to
          boost your preparation and achieve your best score!
          <br /><a href="{{ url_for('login') }}"
            ><button class="btn">Practice Now</button></a
          >
        </p>
      </div>
    </div>

    <!--MCQs SECTION -->

    <div class="section" style="background: rgba(247, 129, 118, 0.1)">
      <div class="image-div">
        <img
          src="{{ url_for('static', filename='pictures/MCQs.png') }}"
          alt="MCQs"
        />
      </div>
      <div class="text-section">
        <h1>Solve 20000+ MCQs of all Subject for MDCAT</h1>
        <p>
          Solve over 20,000 MCQs across all subjects for the MDCAT exam. These
          questions are designed to cover every aspect of the syllabus,
          providing thorough practice and helping you master each topic. Enhance
          your preparation, improve your accuracy, and increase your confidence
          by tackling a wide variety of questions updated regularly to match the
          latest exam trends. Start practicing now to ensure comprehensive
          coverage and excel in your MDCAT exam!
        </p>
        <a href="{{ url_for('login') }}"
          ><button class="btn" style="background: #f78176">Solve Now</button></a
        >
      </div>
    </div>

    <!--BLOGS SECTION -->

    <div class="section" style="background: rgba(248, 188, 36, 0.1)">
      <div class="image-div">
        <img
          src="{{ url_for('static', filename='pictures/blogs.png') }}"
          alt="Blogs"
        />
      </div>
      <div class="text-section">
        <h1>Read Our Latest Blogs about Study and MDCAT</h1>
        <p>
          Read our latest blogs about study tips and MDCAT preparation. Our
          blogs offer valuable insights, expert advice, and the latest updates
          to help you stay informed and ahead in your exam preparation. Discover
          effective study strategies, time management techniques, and detailed
          guides on various MDCAT topics. Stay motivated and well-prepared with
          our regularly updated content tailored to support your academic
          journey.
        </p>
        <a href="#"
          ><button class="btn" style="background: #f8bc24">Read Now</button></a
        >
      </div>
    </div>

    <!-- COUNSELLING SECTION -->

    <div
      id="counselling"
      class="section"
      style="background: rgba(141, 122, 255, 0.2)"
    >
      <div class="image-div" style="margin-left: 1%">
        <img
          src="{{ url_for('static', filename='pictures/counselling.png') }}"
          alt="Counselling"
        />
      </div>
      <div class="contact-section" style="background: rgba(141, 122, 255, 0.5)">
        <h2>Book Appointment</h2>
        <form
          class="contact-form"
          action="https://formspree.io/f/xkndzvno"
          method="POST"
        >
          <input type="text" name="Name: " placeholder="Your Name" required />
          <input
            type="email"
            name="Email: "
            placeholder="Your Email"
            required
          />
          <textarea
            placeholder="Please tell us about what do you need help with."
            name="Query: "
            required
          ></textarea>
          <p>
            Please Click the button below and we will reach out via email with
            the booking details.
          </p>
          <button style="background: rgb(101, 74, 251)" type="submit">
            Book Appointment
          </button>
        </form>
      </div>
    </div>

    <!-- CONTACT US SECTION -->

    <div class="section" style="background: rgba(248, 188, 36, 0.1)">
      <div class="image-div" style="margin-left: 1%">
        <img
          src="{{ url_for('static', filename='pictures/contact.png') }}"
          alt="Counselling"
        />
      </div>
      <div class="contact-section">
        <h2>Contact Us</h2>
        <form
          class="contact-form"
          action="https://formspree.io/f/xkndzvno"
          method="POST"
        >
          <input type="text" name="Name: " placeholder="Your Name" required />
          <input
            type="email"
            name="Email: "
            placeholder="Your Email"
            required
          />
          <textarea
            placeholder="Your Message"
            name="Query: "
            required
          ></textarea>
          <button type="submit">Send Message</button>
        </form>
        <div class="social-media">
          <a
            href="https://www.facebook.com/people/Educatify/61562846995698/?mibextid=ZbWKwL"
            target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://wa.me/03170163585" target="_blank"
            ><i class="fab fa-whatsapp"></i
          ></a>
          <a
            href="https://www.linkedin.com/company/educatify/?viewAsMember=true"
            target="_blank"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a href="https://www.instagram.com/educatifyofficial/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>

    <button onclick="topFunction()" id="goToTopBtn" title="Go to top">
      Top
    </button>

    <!-- FOOTER SECTION -->

    <section
      style="
        text-align: center;
        margin: 3%;
        padding-top: 3%;
        border-top: 1px solid black;
      "
    >
      <p>Copyrights © 2024 Educatify. All Rights Reserved.</p>
    </section>

    <script>
      // Get the button
      let goToTopBtn = document.getElementById("goToTopBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          goToTopBtn.style.display = "block";
        } else {
          goToTopBtn.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
  </body>
</html>
